.button-p{
  padding-left: 2.5rem ;
  padding-right: 2.5rem;
  padding-top: 0.75rem ;
  padding-bottom: 0.75rem ;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  font-size: 1.25rem ;
  line-height: 1.75rem ;
  background: linear-gradient(to bottom right, #1e3a8a, #60a5fa, #d9f99d);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover{
  background: linear-gradient(to bottom right, #3b82f6, #8b5cf6, #ec4899);
}
section:hover{
  color: red;
}