main {
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  margin-top: 50px;
}

.wrap-ani {
  font-size: 60px; 
    display: inline-block;
    background: linear-gradient(to right, rgb(78, 57, 57) 50%, rgb(29, 44, 49) 50%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}


.container {
  width: 100%;
}

@media (min-width:640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width:1536px) {
  .container {
    max-width: 1536px;
  }
}

h1 {
  color: aliceblue;
  font-size: 60px;
  margin-bottom: 1rem;
  font-weight: 800;
  margin-top: 60px;

}

.paragraph {
  color: rgb(245, 245, 245);
  font-size: 18px;
  line-height: 28px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width:1024) {
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-left: auto;
  margin-right: auto;
  background-color: #f97316;
  padding-bottom: 50px;
}

@media (min-width: 1024px) {
  .parent {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.child01 {
  grid-column: span 7 /span 7;
  place-self: center;
  text-align: center;
}

.child02 {
  grid-column: span 5 /span 5;
  place-self: center;
  margin-top: 1rem
}

.child02D{
  grid-column: span 5 /span 5;
  place-self: center;
  margin-top: 1rem
}

.childsmall {
  width: 500px;
  height: 400px;
  position: relative;
}



span.childes {
  padding-left: 5rem;
  padding-right: 5rem;
  color: transparent;
  font-size: 6rem;
}

.child02D{
  display: none;
}

.childsmall img {
  border-radius: 100%;
}

.childsmallD img{
  border-radius: 100%;
}

@media (max-width: 480px) {

  .child02 {
    display: none;
  }

  .child02D{
    display: block;
  }

  .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 500px;
  }

  h1 .childes {
    font-size: 40px;
  }

  h1 span .any {
    font-size: 10px;
  }

  .wrap-ani{
    font-size: 30px;
  }
  main{
    margin-top: 0px;
  }

  .button-p{
    padding: 5px 10px ;
    font-size: 17px;
  }


  .childsmall{
    width: 500px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .childsmallD{
    width: 500px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .childsmallD img{
    width: 200px;
    height: 300px;
  } 
 
  .childsmall img {
    width: 200px;
    height: 300px;
  }
  
  .paragraph{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;

  }
}