.servic{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  color:#d3fae8;
  text-align: center;
  
}
.h{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.pa{
  font-size: 19px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent1{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-left: 25px;
}


.chil1{
  width: 300px;
  height: 300px;
  background-color: brown;
  padding: 20px;
  animation-duration: 0.5s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.chil1:hover{
  transform: scale(1.1) rotate(-6deg)
}


.chil2{
  width: 300px;
  height: 300px;
  background-color: orange;
  padding: 20px;
  transition: transform 0.3s ease;
}


.chil2:hover{
  transform: scale(1.1);
}


.chil3{
  width: 300px;
  height: 300px;
  background-color: rgb(102, 102, 219);
  padding: 20px;
  animation-duration: 0.5s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.chil3:hover{
  transform: scale(1.1) rotate(6deg)
}

.imgs{
  width: 6rem ;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:720px){
  .parent1{
   grid-template-columns: repeat(1,minmax(0,1fr));
   margin-left: 15px;
   display: flex;
   flex-direction:column ;
   gap: 50px;
  }
  .chil1{
    width: 200px;
    height: 400px;
  }

  .chil2{
    width: 200px;
    height: 400px;
  }
  
  .chil3{
    width: 200px;
    height: 400px;
  }

}